html,
body {
    height: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
}
::before,
::after {
    content: "";
}

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #4c527d;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Ubuntu', sans-serif;
    color: #1c1e2e;
    font-weight: bold;
}

path {
    fill: #f2f2f2;
}

.single-col-max {
    max-width: 760px;
}

/* Buttons */

.btn {
    font-weight: 600;
    padding: 0.875rem 2.5rem;
    transition: all 0.4s ease-in-out;
    border-radius: 2rem;
    border: none;
    text-transform: uppercase;
}
.btn:hover{
    background: #91be49 !important;
    color: #fff !important;
}
.btn:focus,.btn.focus {
    box-shadow: none !important;
}

.btn-primary {
    color: #fff;
}

/* Book */

.book {
    position: relative;
    width: 160px;
    height: 220px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin-top: 50px;
    cursor: pointer;
    z-index: 111;
    pointer-events: none;
}

.hero-section .book {
    transform: scale(1.6);
    pointer-events: auto;
    margin-top: 40px;
}

.hardcover_front li:first-child {
    background-color: #eee;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hardcover_front li:last-child {
    background: #fffbec;
}

.hardcover_back li:first-child {
    background: #fffbec;
}

.hardcover_back li:last-child {
    background: #fffbec;
}

.book_spine li:first-child {
    background: #eee;
}

.book_spine li:last-child {
    background: #333;
}

.hardcover_front li:first-child:after,
.hardcover_front li:first-child:before,
.hardcover_front li:last-child:after,
.hardcover_front li:last-child:before,
.hardcover_back li:first-child:after,
.hardcover_back li:first-child:before,
.hardcover_back li:last-child:after,
.hardcover_back li:last-child:before,
.book_spine li:first-child:after,
.book_spine li:first-child:before,
.book_spine li:last-child:after,
.book_spine li:last-child:before {
    background: #999;
}
.page > li {
    background: -webkit-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: -moz-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: -ms-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
    border-radius: 0px 5px 5px 0px;
}

.hardcover_front {
    -webkit-transform: rotateY(-34deg) translateZ(8px);
    -moz-transform: rotateY(-34deg) translateZ(8px);
    transform: rotateY(-34deg) translateZ(8px);
    z-index: 100;
}

.hardcover_back {
    -webkit-transform: rotateY(-15deg) translateZ(-8px);
    -moz-transform: rotateY(-15deg) translateZ(-8px);
    transform: rotateY(-15deg) translateZ(-8px);
}

.page li:nth-child(1) {
    -webkit-transform: rotateY(-28deg);
    -moz-transform: rotateY(-28deg);
    transform: rotateY(-28deg);
}

.page li:nth-child(2) {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
}

.page li:nth-child(3) {
    -webkit-transform: rotateY(-32deg);
    -moz-transform: rotateY(-32deg);
    transform: rotateY(-32deg);
}

.page li:nth-child(4) {
    -webkit-transform: rotateY(-34deg);
    -moz-transform: rotateY(-34deg);
    transform: rotateY(-34deg);
}

.page li:nth-child(5) {
    -webkit-transform: rotateY(-36deg);
    -moz-transform: rotateY(-36deg);
    transform: rotateY(-36deg);
}
.hardcover_front,
.hardcover_back,
.book_spine,
.hardcover_front li,
.hardcover_back li,
.book_spine li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.hardcover_front,
.hardcover_back {
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}

.hardcover_front {
    -webkit-transition: all 0.8s ease, z-index 0.6s;
    -moz-transition: all 0.8s ease, z-index 0.6s;
    transition: all 0.8s ease, z-index 0.6s;
}

.hardcover_front li:first-child {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-transform: translateZ(2px);
    -moz-transform: translateZ(2px);
    transform: translateZ(2px);
}

.hardcover_front li:last-child {
    -webkit-transform: rotateY(180deg) translateZ(2px);
    -moz-transform: rotateY(180deg) translateZ(2px);
    transform: rotateY(180deg) translateZ(2px);
}

.hardcover_back li:first-child {
    -webkit-transform: translateZ(2px);
    -moz-transform: translateZ(2px);
    transform: translateZ(2px);
}

.hardcover_back li:last-child {
    -webkit-transform: translateZ(-2px);
    -moz-transform: translateZ(-2px);
    transform: translateZ(-2px);
}

.hardcover_front li:first-child:after,
.hardcover_front li:first-child:before,
.hardcover_front li:last-child:after,
.hardcover_front li:last-child:before,
.hardcover_back li:first-child:after,
.hardcover_back li:first-child:before,
.hardcover_back li:last-child:after,
.hardcover_back li:last-child:before,
.book_spine li:first-child:after,
.book_spine li:first-child:before,
.book_spine li:last-child:after,
.book_spine li:last-child:before {
    position: absolute;
    top: 0;
    left: 0;
}

.hardcover_front li:first-child:after,
.hardcover_front li:first-child:before {
    width: 4px;
    height: 100%;
}

.hardcover_front li:first-child:after {
    -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}

.hardcover_front li:first-child:before {
    -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    transform: rotateY(90deg) translateZ(158px) translateX(2px);
}

.hardcover_front li:last-child:after,
.hardcover_front li:last-child:before {
    width: 4px;
    height: 160px;
}

.hardcover_front li:last-child:after {
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
}

.hardcover_front li:last-child:before {
    box-shadow: 0px 0px 30px 5px #333;
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
}

.hardcover_back li:first-child:after,
.hardcover_back li:first-child:before {
    width: 4px;
    height: 100%;
}

.hardcover_back li:first-child:after {
    -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}

.hardcover_back li:first-child:before {
    -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    transform: rotateY(90deg) translateZ(158px) translateX(2px);
}

.hardcover_back li:last-child:after,
.hardcover_back li:last-child:before {
    width: 4px;
    height: 160px;
}

.hardcover_back li:last-child:after {
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
}

.hardcover_back li:last-child:before {
    box-shadow: 10px -1px 80px 20px #666;
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
}

.book_spine {
    -webkit-transform: rotateY(60deg) translateX(-2px) translateZ(-12px);
    -moz-transform: rotateY(60deg) translateX(-2px) translateZ(-12px);
    transform: rotateY(60deg) translateX(-2px) translateZ(-12px);
    width: 16px;
    z-index: 0;
}

.book_spine li:first-child {
    -webkit-transform: translateZ(2px);
    -moz-transform: translateZ(2px);
    transform: translateZ(2px);
}

.book_spine li:last-child {
    -webkit-transform: translateZ(-2px);
    -moz-transform: translateZ(-2px);
    transform: translateZ(-2px);
}

.book_spine li:first-child:after,
.book_spine li:first-child:before {
    width: 4px;
    height: 100%;
}

.book_spine li:first-child:after {
    -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}

.book_spine li:first-child:before {
    -webkit-transform: rotateY(-90deg) translateZ(-12px);
    -moz-transform: rotateY(-90deg) translateZ(-12px);
    transform: rotateY(-90deg) translateZ(-12px);
}

.book_spine li:last-child:after,
.book_spine li:last-child:before {
    width: 4px;
    height: 16px;
}

.book_spine li:last-child:after {
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
}

.book_spine li:last-child:before {
    box-shadow: 5px -1px 100px 40px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
}

.page,
.page > li {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.page {
    width: 100%;
    height: 98%;
    top: 1%;
    left: 3%;
    z-index: 10;
    list-style: none;
}

.page > li {
    width: 100%;
    height: 100%;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transition-timing-function: ease;
}

.page > li:nth-child(1) {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.page > li:nth-child(2) {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.page > li:nth-child(3) {
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.page > li:nth-child(4) {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.page > li:nth-child(5) {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.page > li > span {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 0;
    display: block;
}

.page > li span img {
    margin: 0 auto;
    display: block;
    max-width: 60px;
}

.page > li span span {
    margin: 10px 0 0;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}
.book:hover > .hardcover_front {
    -webkit-transform: rotateY(-145deg) translateZ(0);
    -moz-transform: rotateY(-145deg) translateZ(0);
    transform: rotateY(-145deg) translateZ(0);
    z-index: 0;
}

.book:hover > .page li:nth-child(1) {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    transition-duration: 1.5s;
}

.book:hover > .page li:nth-child(2) {
    -webkit-transform: rotateY(-35deg);
    -moz-transform: rotateY(-35deg);
    transform: rotateY(-35deg);
    -webkit-transition-duration: 1.8s;
    -moz-transition-duration: 1.8s;
    transition-duration: 1.8s;
}

.book:hover > .page li:nth-child(3) {
    -webkit-transform: rotateY(-118deg);
    -moz-transform: rotateY(-118deg);
    transform: rotateY(-118deg);
    -webkit-transition-duration: 1.6s;
    -moz-transition-duration: 1.6s;
    transition-duration: 1.6s;
}

.book:hover > .page li:nth-child(4) {
    -webkit-transform: rotateY(-130deg);
    -moz-transform: rotateY(-130deg);
    transform: rotateY(-130deg);
    -webkit-transition-duration: 1.4s;
    -moz-transition-duration: 1.4s;
    transition-duration: 1.4s;
}

.book:hover > .page li:nth-child(5) {
    -webkit-transform: rotateY(-140deg);
    -moz-transform: rotateY(-140deg);
    transform: rotateY(-140deg);
    -webkit-transition-duration: 1.2s;
    -moz-transition-duration: 1.2s;
    transition-duration: 1.2s;
}

.coverDesign {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}



/* Hero Section */

.section-heading {
    font-size: 2.5rem;
}

.section-intro {
    font-size: 1.25rem;
}

.hero-section {
    height: 610px;
    max-height: 610px;
}

.hero-section > .container {
    margin-top: -40px;
}

.hero-section .left-shape {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.hero-section .bottom-shape {
    position: absolute;
    bottom: -1px;
    right: 0;
    left: 0;
    pointer-events: none;
    height: 380px;
    width: 100%;
}

.hero-section .headline {
    font-size: 4.5rem;
    font-weight: bold;
    color: #fff;
}

.hero-section .subheadline {
    font-size: 1.25rem;
    color:#eee;
}

.hero-section .btn-primary {
    background-color: #fff;
}

.hero-section .btn-primary:hover, .hero-section .btn-primary:active, .hero-section .btn-primary:focus, .hero-section .btn-primary:not(:disabled):not(.disabled):active{
    background-color: #fff;
}

/* Benefits Section */

.benefits-section {
    padding-top: 35px;
    padding-bottom: 30px;
}

.benefits-section .item-inner {
    height: 100%;
}

.benefits-section .item-icon {
    font-size: 3rem;
}

.benefits-section .item-heading {
    font-size: 1.125rem;
}

/* Content Section */

.content-section {
    background-color: #f2f2f2;
    padding: 80px 0 70px;
}
.content-section img{
    object-fit: cover;
    margin-bottom: 30px;
}
.content-section .key-points-list {
    font-size: 1.125rem;
}

.content-section .key-points-list li {
    margin-bottom: 1rem;
}

.content-section .book {
    margin-top: 80px;
    transform: scale(1.3);
    pointer-events: none;
}

/* Audience Section */

.audience-section {
    padding: 60px 0 50px;
}

.audience-section .audience {
    max-width: 500px;
}

.audience-section .item {
    margin-bottom: 1.5rem;
}

.audience-section .item-title {
    font-size: 1.125rem;
}

.audience-section .item-icon {
    font-size: 1.25rem;
    color: #7FCDB8;
}


/* Reviews Section */

.reviews-section {
    background-color: #f2f2f2;
    padding: 70px 0 40px;
}
.reviews-section .item-inner {
    height: 100%;
    position: relative;
    background-color: #fff;
}

.reviews-section .icon-holder {
    position: absolute;
    left: 50%;
    top: -25px;
    margin-left: -25px;
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    padding-top: 8px;
    font-size: 23px;
}

.reviews-section .source-profile {
    width: 60px;
    border-radius: 50%;
}

.reviews-section .source-info {
    font-size: 0.875rem;
}

.reviews-section .source-info .source-name {
    font-weight: 600;
}

.reviews-section .source-info .soure-title {
    font-size: 12px;
}

.reviews-section .quote {
    font-style: italic;
    font-size: 15px;
}

/* Author Section */

.author-section {
    color: #fff;
    padding: 20px 0;
}

.author-section .author-pic {
    width: 150px;
    height: 150px;
    border: 3px solid rgba(0,0,0,0.2);
    border-radius: 50%;
}

.author-section .social-list li {
    background: rgba(0,0,0,0.1);
    width: 36px;
    height: 36px;
    display: inline-block;
    border-radius: 50%;
}

.author-section .social-list li:hover {
    background: rgba(0,0,0,0.15);
}

.author-section .social-list a {
    color: #fff;
    width: 36px;
    height: 36px;
    display: block;
    line-height: 36px;
}

/* [ RESONSIVE DESIGN ] */



@media (max-width: 992px) {
    .section-heading {
        font-size: 1.75rem;
    }

    .section-intro {
        font-size: 1.125rem;
    }

    .hero-section .headline {
        font-size: 2rem;
        font-weight: bold;
    }

    .hero-section .subheadline {
        font-size: 1.125rem;
    }

    .hero-section .book {
        transform: scale(1.3);
    }
}


@media (max-width: 767px) {
    .hero-section > .container {
        margin-top: 50px;
    }
    .hero-section .bottom-shape {
        height: 210px;
    }
    svg {
        height: 25px;
    }
    svg.negative-margin {
        margin-top: -2px;
    }
    .benefits-section {
        padding-top: 110px;
    }
    .content-section {
        padding: 60px 0 50px;
    }
    .content-section .book {
        margin: 20px 0 60px;
        transform: none;
    }
    .hero-section .book {
        margin-top: 110px;
    }
    .audience-section {
        padding: 40px 0 30px;
    }
}

@media (max-width: 576px) {
    .hero-section .book {
        pointer-events: none;
    }
    .hero-section .bottom-shape {
        height: 60px;
    }
    .modal-dialog .book {
        margin-top: 50px;
    }
    .hero-quotes .quote:after {
        left: 50%;
        margin-left: -10px;
    }
    .reviews-section .source-profile {
        margin-bottom: 0.5rem;
    }
    .align > li {
        width: 100%;
        min-height: 440px;
        height: auto;
        padding: 0;
        margin: 0 0 30px 0;
    }

    .book {
        margin: 0 auto;
    }
}
.hero-section .btn-primary,
.hero-section .btn-primary:hover,
.hero-section .btn-primary:active,
.hero-section .btn-primary:focus,
.hero-section .btn-primary:not(:disabled):not(.disabled):active,
.benefits-section .item-icon {
    color: #4169e1;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.hero-section,
.form-section .btn-subscribe.is-active,
.reviews-section .icon-holder,
.author-section {
    background: #4169e1;
}

.bottom-separator path {
    fill: #4169e1;
}
.bottom-separator{
    background: #f2f2f2;
}
.form-control:focus {
    border: 1px solid #4169e1;
}